@page "/echo"
@using  BlazorUI.Client.Pages.Components;
@inherits EchoComponent

<h3>Echo Interface</h3>

<button name="echoButton" @onclick="@SendEcho">
    ¯\_(ツ)_/¯
</button>

<p>Echo Etag: @EchoEtag</p>
<b>Echo Query:</b>
<ul>
    <li>
        <p>Count: @Echo.Count</p>
    </li>
    <li>
        <p>Time since last echo: (@Echo.TimeUntilCurrentEcho ?? "-")</p>
    </li>
    <li>
        <p>Time of last echo: (@Echo.TimeOfLastEcho ?? "-")</p>
    </li>
</ul>

@code{
    public string GetTimeUntilEcho() => Echo.TimeUntilCurrentEcho?.ToString() ?? "-";
    public string GetTimeOfLastEcho() => Echo.TimeOfLastEcho?.ToString() ?? "-";
}