@page "/importdata"
@using BlazorUI.Shared;
@using Blazor.Extensions;
@using BlazorUI.Client.Pages.Components;
@using System.Net.Http;
@using Newtonsoft.Json;
@using System.IO;
@inherits ImportComponent

<h1>Hello, world!</h1>

Welcome to the importer.

<h1 style="font-style:@_headingFontStyle">@_headingText</h1>

<button type="button" class="btn btn-primary manifest" @onclick="@SendEcho">
    Echo!
</button>

<button type="button" class="btn btn-primary manifest" @onclick="@StartManifest">
    Start Manifest
</button>

<button type="button" class="btn btn-primary start" @onclick="@StartImport">
    Start Import
</button>


<button type="button" class="btn btn-primary test" @onclick="@Test">
    Test
</button>

<p>Echo Etag: @EchoEtag</p>

<pre>Echo: @Echo</pre>

<p>Regions Etag: @RegionsEtag</p>

<p>Manifest: @manifestStatus</p>

<p>Test: @TestString</p>

<p>Status Etag: @StatusEtag</p>

<pre>Status: @Status</pre>

<p>@Response</p>


@if (string.IsNullOrEmpty(imports))
{
    <p><em>...</em></p>
}
else
{
    <pre>@imports</pre>

}

@functions {}
@code {}
