@page "/importdata"
@using BlazorUI.Shared;
@using Blazor.Extensions;
@using BlazorUI.Client.Pages.Components;
@using System.Net.Http;
@using Newtonsoft.Json;
@using System.IO;
@inherits ImportComponent

<h1>Hello, world!</h1>

Welcome to the importer.

<h1 style="font-style:@_headingFontStyle">@_headingText</h1>


<button type="button" class="btn btn-primary manifest" @onclick="@StartManifest">
    Start Manifest
</button>

<button type="button" class="btn btn-primary start" @onclick="@StartImport">
    Start Import
</button>


<button type="button" class="btn btn-primary test" @onclick="@Test">
    Test
</button>

<p>Regions Etag: @regionsEtag</p>

<p>Manifest: @manifestStatus</p>

<p>Test: @TestString</p>

<p>Status Etag: @statusEtag</p>

<pre>Status: @Status</pre>

<p>@Response</p>


@if (string.IsNullOrEmpty(imports))
{
    <p><em>...</em></p>
}
else
{
    <pre>@imports</pre>

}

@functions {
    protected async override Task OnInitializedAsync()
    {
        //var statusResponse = await Http.GetAsync("/status/getstatus");
        //statusEtag = statusResponse.Headers.ETag.Tag;
        var regionsResponse = await _http.GetAsync("/regions/getstatus");
        var etag = regionsResponse.Headers.ETag.Tag;
        var checkpointIndex = etag.ToString().IndexOf("@");
        string subscription;
        if (checkpointIndex > 0)
        {
            subscription = etag.ToString().Substring(1, checkpointIndex - 1);
        }
        else
        {
            subscription = etag;
        }
        regionsEtag = etag + " => " + subscription;
        //_query.SubscribeToQuery(statusEtag, ReadRegions);
        _query.SubscribeToQuery(subscription, ReadRegions);
        //_appState.OnChange += StateHasChanged;
    }
    private async Task ReadRegions(string message)
    {
        _checkpoint++;
        manifestStatus = "SignalR Received Regions. Checkpoint: " + _checkpoint;
        Console.WriteLine("Made it into ReadRegions on the Razor Page.");
        var regionsRequest = await _http.GetAsync("/regions/getstatus");
        if (regionsRequest.IsSuccessStatusCode)
        {
            imports = JsonPrettify(await regionsRequest.Content.ReadAsStringAsync());
            Console.WriteLine("Success Status in Regions on Razor Page");
        }
        else
        {
            Console.WriteLine("Fail Status in Regions on Razor Page");
            imports = regionsRequest.StatusCode.ToString();
        }
    }
    private async Task ReadStatus(string message)
    {
        _checkpoint++;
        manifestStatus = "SignalR Received Status. Checkpoint: " + _checkpoint;
        var statsuRequest = await _http.GetAsync("/regions/getstatus");
        if (statsuRequest.IsSuccessStatusCode)
        {
            Status = JsonPrettify(await statsuRequest.Content.ReadAsStringAsync());
        }
    }

    private static string JsonPrettify(string json)
    {
        using (var stringReader = new StringReader(json))
        using (var stringWriter = new StringWriter())
        {
            var jsonReader = new JsonTextReader(stringReader);
            var jsonWriter = new JsonTextWriter(stringWriter) { Formatting = Formatting.Indented };
            jsonWriter.WriteToken(jsonReader);
            return stringWriter.ToString();
        }
    }
}

@code {
    public string statusEtag = "0";
    public string regionsEtag = "0";
    public string Status = "X";
    private int _checkpoint = 0;
    private string _headingFontStyle = "italic";
    private string _headingText = "Put on your new Blazor!";
    public string imports = "Not Imported";
    public HttpResponseMessage _importResponse;
    public string Response = "";
    public string manifestData = "Not Found";
    public string manifestStatus = "Not Started";
    public string TestString = "-";

    public async Task ReadImport(string response)
    {
        Response = response;
        manifestStatus = "SignalR Received.";
    }

    public async Task StartImport()
    {
        /*var connection = _hubBuilder.WithUrl("/hubs/query").Build();
        var regionsResponse = await Http.GetAsync("/api/regions");
        etag = regionsResponse.Headers.ETag.Tag;
        AppState.AddEtag(etag);*/

        //connection.On<string>(etag, async (message) => { await ReadImport(message); });
        //old
        //_importResponse = await Http.GetAsync("imports/test");
        _importResponse = await _http.PostAsync("imports/startimport", null);
        //imports = await _importResponse.Content.ReadAsStringAsync();
        imports = "Importing...";
    }

    public async Task StartManifest()
    {
        var manifestResponse = await _http.PostAsync("/regions/poststatus", null);
        //manifestStatus = manifestResponse.StatusCode.ToString();
    }
    public void Test()
    {
        TestString = "Clicked.";
    }
}
